@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Pacifico&family=Poppins:wght@400;500;600;700;800;900&display=swap');

,::after,*::before{
  margin:0;
  padding:0;
  box-sizing:border-box:
  
}
body{
  font-family:'Poppins', sans-serif;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  color:#000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
button{
  outline: none;
}
h2{
  font-weight: 700;
}
h1 span{
  font-weight: 800;
}
.container{
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
  display: block;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: space-around;
  

}
.details {
  display: flex;
  justify-content: space-around;
}
.titles{
  font-weight: 400;
  font-size: 1rem;
  padding: 0rem;
}
.scores h2{
  font-size: 1rem;
}
.weapons{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.weapons button{
  width: 5rem;
  height: 3rem;
  border-radius: 50%;
  background: rgb(63,94,251);
  border: 0;
  font-size: 1.1rem;
  font-weight: 600;

}
.weapons button:hover{
  color:rgb(250, 149, 149);
  background: rgb(63,94,251);
}
.result{
  height: 0rem;
  padding: 1rem 0;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: space-between;
  visibility: hidden;
}
.result.show{
  visibility: visible;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1rem;
}